### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
# Find school names (not a necessary step, but useful)
schools = school_data_complete['school_name'].unique()
schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [3]:
# Count the number in the list (could also have used nunique function)
school_count = len(schools)
school_count

15

In [4]:
# Calculate the total number of students
students = len(school_data_complete['student_name'])
students

39170

In [5]:
# Calculate the total budget
# Find the budget for each school
school_budgets = sum(school_data_complete['budget'].unique())
school_budgets

24649428

In [6]:
# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_score_passing = (school_data_complete['math_score'] >=70).values.sum()/students*100
math_score_passing

74.9808526933878

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_score_passing = (school_data_complete['reading_score'] >=70).values.sum()/students*100
reading_score_passing

85.80546336482001

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
math_and_reading_scores_passing = df.loc(school_data_complete['math_score'] >=70, ['reading_score'] >=70 .values.sum()/students*100
math_and_reading_scores_passing

TypeError: unsupported operand type(s) for &: 'int' and 'list'

In [26]:
# Create a dataframe to hold the results (total number of schools, total number of students, total budget, average math score,average reading score, percentage of students passing math, percentage of students passing reading, percentage of students passing math and reading 

district_summary_df = pd.DataFrame({"Schools": [school_count], "Students": [students], "School Budget": [school_budgets], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "Percent Passing Math": [math_score_passing], "Percent Passing Reading": [reading_score_passing], "Percent Passing Math and Reading": [math_and_reading_scores_passing]})
district_summary_df

NameError: name 'math_and_reading_scores_passing' is not defined

In [ ]:
# Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
overview_table = school_data_complete

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type